body.active-modal {
  overflow-y: hidden;
}

.add-contact-details {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 16px;
}

.add-contact,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.add-contact-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 3rem 3rem;
  border-radius: 3px;
  max-width: 50rem;
  min-width: 38rem;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.add-contact-button {
  background-image: linear-gradient(#f7f8fa, #e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.6) 0 2px 0 inset;

  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 6rem;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 14px;
  height: 29px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 6%;
  border-radius: 10%;
}

.close-contact-details {
  margin-left: 2rem;
}

@media (max-width: 480px) {
  .add-contact-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 3rem 3rem;
    border-radius: 3px;
    max-width: 30rem;
    min-width: 18rem;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}
