* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.input-form {
  margin-left: 40px;
}

.App {
  background: linear-gradient(
    to right top,
    #3052c7,
    #2742b0,
    #1c329a,
    #102384,
    #00146f
  );
}
